# Requisitos para rodar no Streamlit Cloud

streamlit
plotly.express
matplotlib
numpy
openpyxl==3.1.0
pandas
PyJWT
bcrypt
PyYAML
extra-streamlit-components
streamlit-authenticator
pdfkit
pyxlsb==1.0.9
XlsxWriter
st-pages
streamlit_tags
